.cf.grid.ph3.ph5-ns.center
  .fl.w-100.ph3.mb4.mb5-ns
    .tc
      h1.f1.f-headline-ns.mb1.tracked-tight Do You Travel
      h6.georgia.f3.o-70.fw4 Follow my journey all over the world

.cf.grid.ph3.ph5-ns.center.mb5.mb6-ns
  .fl.w-50.w-25-ns.ph3.mb4.mb0-ns
    p.b.mb2 About
    p Photo Essay website redesign for travel influencer, Jack Morris.
    a.db(href="http://www.doyoutravelphoto.com") View website
  .fl.w-50.w-25-ns.ph3.mb4.mb0-ns.h1.dn.db-ns
  .fl.w-50.w-25-ns.ph3.mb4.mb0-ns
    p.b.mb2 Details
    ul.pl0.list
      li Client: Jack Morris
      li Year: 2017
  .fl.w-50.w-25-ns.ph3.mb4.mb0-ns
    p.b.mb2 Responsibility
    ul
      li Web design,
      li Web development,
      li Performance imporvement,
      li User Experience design.
      
.cf.grid.ph3.ph5-ns.center.mb5.mb7-ns
  .fl.w-100.ph3
    h2.f1.f-subheadline-ns.poppins.tracked-tight.mb4 Overview
  .fl.w-100.w-67-m.w-33-ns.ph3.mt0.mt4-ns
    p Jack Morris is a travel influencer from UK. Currently boasting 1.8M (per January 2017) follower on Instagram, he took beautiful pictures from all over the world and share it both on Instagram and his personal website. 
  .fl.w-100.w-67-m.w-50-ns.ph3.relative
    img.shadow-1(src='http://doyoutravelphoto.com/wp-content/uploads/IMG_1979-768x958.jpg')
  .fl.w-100.w-33-m.w-25-ns.ph3.h1
.cf.grid.ph3.ph5-ns.center.mb6
  .fl.w-100.ph3
    h2.f1.f-subheadline-ns.poppins.tracked-tight.mb4 Problem
  .fl.w-100.w-67-m.w-50-ns.ph3.relative
    img.shadow-1(src='http://doyoutravelphoto.com/wp-content/uploads/MA0B1221-2-1300x867.jpg')
  .fl.w-100.w-33-ns.ph3.mt4
    p Jack had several problem on previous website:
    ul
      li website were not responsive. It looks bad on phone;
      li overall typography, including its kerning and legibility was a big problem. Everything too thin and have no structure of hierarcy,
      li the website generally load very slow—even on decent internet connection. It took about 30 seconds to render the landing page,
      li it’s almost impossible to scroll (because of how large the image is), even on modern devices.

.cf.grid.ph3.ph5-ns.center.mb6.mb6-m.mb7-ns
  .w-100.ph3
    h2.f1.f-subheadline-ns.poppins.tracked-tight.mb4 Solution
  .fl.w-100.w-33-m.w-25-ns.ph3.mt0.mt6-ns
    p To solve these problems, I decided to develop a new wordpress theme from scratch. 
    p Responsiveness is an easy issue, because the content itself (photos) have already ordered in hierarchy naturally.
  .fl.w-100.w-67-ns.w-75-ns.ph3
    img.ml0.ml0-m.ml5-ns.shadow-1(src='/assets/dyt-landing-page.png')
.cf.grid.ph3.ph5-ns.center.mb0.mb6-m.mb7-ns
  .fl.w-100.w-67-m.w-75-ns.ph3
    .mr0.mr5-ns
      img.shadow-1(src='/assets/dyt-qa.png')
  .fl.w-100.w-33-m.w-25-ns.ph3.mt4.mt5-ns
    p I went with Avenir Next (Fallback to Lato) for the heading. Generous font weight (400[light] from 100[very light]) is chosen to make sure it’s legible. Bigger font size are used for more contrast.
    p Roboto went well with Avenir Next, so I choose it as the body text. Ample line height and margin are carefully selected for both mobile and desktop device to give hierarchy. You can see them on action from 
      a(href='http://doyoutravelphoto.com/qa/') Q&A section.
    p This solves previous website design. The content and comment section have the exact same typeface, same font size, line height, and therefore no hierarchy! I can’t even decide which one is content and which one is comment when I first saw it.
.cf.grid.ph3.ph5-ns.center.mb6.mb6-m.mb7-ns
  .fl.w-100.w-25-ns.ph3.mt0.mt5-ns.mb4.mb0-ns
    p For image, Jack always uploaded the image on full resolution—straight from the camera. That’s why the webpage load slowly. I decided to use a plugin that converts all 4000~ pixel images to 1800~ so it loads way faster while still maintaining respectable resolution. 
    p Other than that, I lazy loaded the image so the image only downloads when visitor scrolls to the image. This help everything become much smoother. Previously, it almost impossible to scroll on page with loads of image.
    p The content also naturally separated by visit per country. There’s no need for me to think about the information architecture.
    p Jack also commissioned me to make a tribal illustration below the heading.
  .fl.w-100.w-75-ns.ph3
    .ml0.ml5-ns
      img.shadow-1(src='/assets/dyt-dubai.png')
  
.cf.grid.ph3.ph5-ns.center.mb6.mb6-m.mb7-ns
  .fl.w-100.w-67-m.w-50-ns.ph3.relative
    img.mt0.mt0-ns.mb4.mb0-ns.shadow-1(src='http://doyoutravelphoto.com/wp-content/uploads/87A9527-700x467.jpg')
  .fl.w-100.w-33-m.w-25-ns.ph3.mt0.mt5-ns
    h2.f1.f-subheadline-ns.poppins.tracked-tight.mb4 Tech Stack
    ul
      li Wordpress as CMS, because Jack already familiar with the medium.
      li Various plugins from wordpress!
.cf.grid.ph3.ph5-ns.center.mb6
  .fl.w-100.ph3
    h2.f1.f-subheadline-ns.poppins.tracked-tight.mb4 Closure
  .fl.w-100.w-67-m.w-25-ns.ph3.h1
  .fl.w-100.w-67-m.w-50-ns.ph3
    img.shadow-1(src='http://doyoutravelphoto.com/wp-content/uploads/357A7554-2-copy-768x512.jpg')
  .fl.w-100.w-33-m.w-25-ns.ph3.mt4
    p Jack has quality content, therefore the project are relatively easy. Remember for future client: website design only help the contents shine, not the other way around.

    p The redesign only act as medium for more pleasurable experience.
.grid.ph3.ph5-ns.center.mb6
  .fl.w-100.mb6
    .w-80.w-50-ns.center
      p.lh-copy.tc.georgia.f4.f3-ns.o-90 "Working with Philip has been a pleasure - he is fast, innovative and builds a functional yet aesthetically pleasing looking website."
      p.f5.tr.o-70 — Jack Morris
  .w-100.ph3 
    h2.f-subheadline.poppins.tracked-tight.mb5.tc Result
  .cf.tc.f4
    .fl.w-100.mb6
      img.shadow-1.mw6.mb3(src='/assets/dyt-fast.png')
      p One of the comment from the website 😍.
    .fl.w-100.w-33-ns.ph3 
      p.f1.b.mb0.poppins Scrolling
      p.mb1 is now possible
      p.f6 by fixing the image
    .fl.w-100.w-33-ns.ph3 
      p.f1.b.mb0.poppins 1.32s 
      p ...load time from ~8s
    .fl.w-100.w-33-ns.ph3 
      p.f1.b.mb0.poppins Easier
      p.mb1 load from server
      p.f6 much better performance
  .tc.mt6
    a.dib.f3.pv3.ph5.ba.b--black-20.bw2.white.blue-bg.pointer.link(href='http://www.doyoutravelphoto.com')
      | Visit website
!=partial('../_shared/project-loop')
