.cf.center.ph3.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.ph3.mb3.mb4-m.mb0-ns.h1
  .fl.w-100.w-100-m.w-75-ns.ph3.wow.fadeInUp
      h1.f1.f-subheadline-ns.poppins.tracked-tight.mb3.lh-title Projects.
!=partial('../_shared/project-loop')
!=partial('../_shared/subscribe')
