doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(name="google-site-verification" content="8_jk4EKPuEDASp4cmS5SgZSNYpl-RxRyaJPO9jF5Pq8")
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700|Inconsolata:400,700', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    script(src='https://cdn.rawgit.com/philipyoungg/external-link-to-new-tab/master/externalLinkToNewTab.min.js')
    link(rel='stylesheet' href='https://cdn.rawgit.com/philipyoungg/external-link-to-new-tab/master/externalLinkToNewTab.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.6.2/tachyons.css')
    link(rel="stylesheet", href="/main.css")
    title= public._data[current.path] ? public._data[current.path].title + " - Philip Young" : title + " - Philip Young"
    meta(name="description" content=description ? description : public._data.index.description)
  body.lh-copy.pt4
    !=partial('_shared/header')
    if (current.path[0] !== 'thoughts')
      !=yield
    else
      .cf.center.ph4.ph5-ns.grid
        .fl.w-100.w-100-m.w-25-ns.pr0.pr4-m.pr4-ns.mb3.mb4-m.mb0-ns
          h3.b.mb1 Navigation
          != partial('_shared/nav')
        .fl.w-100.w-100-m.w-75-ns
            h1.f3.f1-m.f-subheadline-ns.poppins.tracked-tight.mb3.mb5-ns
              =current.path[1] === 'index' ? 'Thoughts' : title
      .cf.center.ph4.ph5-ns.grid
        .fl.w-100.w-100-m.w-25-ns.pr0.pr4-m.pr4-ns.h1.dn-m
        article.fl.w-100.w-100-m.w-75-ns.pr0.pr4-m.pr4-ns.mb4.mb6-ns.measure-wide
          !=yield
      !=partial('_shared/subscribe')
      !=partial('_shared/blog-excerpt')
    != partial('_shared/footer')
  script.
    // Disqus
    // =======================================
    var disqus_config = function () {
      this.page.url = window.location;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = window.location; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//philipyoungg-com.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

  script(src='/tracker.js')
  script.
    externalLinkToNewTab();
