doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700|Inconsolata', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    script(src='https://cdn.rawgit.com/philipyoungg/external-link-to-new-tab/master/externalLinkToNewTab.min.js')
    link(rel='stylesheet' href='https://cdn.rawgit.com/philipyoungg/external-link-to-new-tab/master/externalLinkToNewTab.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.6.2/tachyons.css')
    link(rel="stylesheet", href="/new.css")
    title JS Bin
  body.lh-copy
    .mt4
      .dn.db-ns
        .cf.center.ph4.ph5-ns.grid#info
          .w-100-m.w-25-ns.fl
            h3.b.mb1 Address
            ul.list.pl0
              li
                | Kelapa Gading, Jakarta
                br
                |  Indonesia
                br
                |  14240
          .w-100-m.w-25-ns.fl
            h3.b.mb1 Contact
            ul.list.pl0
              li phone: +62-811-9620-100
              li email: hello@philipyoungg.com
              li
          .w-100-m.w-25-ns.fl
          .w-100-m.w-25-ns.fr
            h3.b.mb1 Social
            ul.list.pl0
              li twitter: &nbsp; 
                a(href="https://www.twitter.com/philipyoungg") @philipyoungg
              li instagram: &nbsp;
                a(href="https://www.instagram.com/philipyoungg") philipyoungg
              li dribbble: &nbsp;&nbsp;
                a(href="https://www.dribbble.com/philipyoungg") philipyoungg
              li
      .mb5
      .cf.center.ph4.ph5-ns.grid
        .fl.w-100.w-100-m.w-25-ns.pr4.mb3.mb3-m.mb0-ns
          h3.b.mb1 Navigation
          ul.list.pl0
            li
              a.link.softBlue(href='/') Home
            li
              a.dim(href='/thoughts') Thoughts →
            li
              a.dim(href='/inquiry') Inquiry →
        .fl.w-100.w-100-m.w-75-ns
          h1.f3.f1-m.f-subheadline-ns.poppins.tracked-tight.mb3.mb4-ns
            | Philip Young—
            br
            | Designer & Developer
      .cf.center.ph4.ph5-ns.grid.mb5
        .fl.w-100-m.w-25-ns.pr4
          p
            span.b Important! 
            <br /> Ongoing website migration. Several pages haven't been updated yet.
        .fl.w-100-m.w-25-ns.pr4
          p
            | My name is Philip Young 👋. I'm a multidisciplinary designer and developer from Jakarta, Indonesia 🇮🇩.
          p
            | I was trusted to handle various projects. To name a few: formulating brand guideline for Indonesian mini market—
            a(href='https://www.behance.net/gallery/17555133/Sanmart')
              | Sanmart
            | , creating
            |             brand identity and product design for 
            a(href='https://www.bukapintu.co')
              | Bukapintu.co
            | , and designing photo essays website for 
            a(href='http://www.doyoutravelphoto.com')
              | doyoutravel
            |  (1.8M followers).
        .fl.w-100-m.w-25-ns.pr4
          p
            | From web development side; I'm comfortable with React, Redux, RXJS Observable Pattern, Node.js, SASS, and PostgreSQL. You can see my side projects on 
            a(href='http://github.com/philipyoungg/')
              | Github
            | .
          p
            | Current active side project ⚡️: 
            a(href='http://typography.philipyoungg.com')
              | typography combination
            | , 
            a(href='http://color.philipyoungg.com')
              | color picker
            | , and 
            a(href='https://www.npmjs.com/package/@philipyoungg/calendar')
              | calendar generator
            | .
        .fl.w-100-m.w-25-ns.pr4
          p
            | If you've read this far, let's be friends! I want to know more about you ☺️. Say hi on 
            a(href='https://twitter.com/philipyoungg')
              | Twitter
            | , 
            a(href='https://www.instagram.com/philipyoungg')
              | Instagram
            | , or send a message to 
            a(href='mailto:hello@philipyoungg.com?Subject=Hello!')
              | hello@philipyoungg.com
            |  🙏.
          p
            | I'm currently accepting short and long term design & development project. Hit me 
            a(href='/inquiry') up
            |  🔥.
  .center.mw8.ph3.ph4-m.ph5-ns.poppins
    .bt.b--black-10.dt.w-100.pv3
      ul.dtc.list.ma0.f7.f6-m.f5-ns.pl0.tl.tc-ns
        li.dib.mr2.mr3-ns 🌎
        li.dib.mr2.mr3-ns.dim
          a.link.black-40(href='mailto:hello@philipyoungg.com') Email
        li.dib.mr2.mr3-ns.dim
          a.link.black-40(href='https://www.twitter.com/philipyoungg') Twitter
        li.dib.mr2.mr3-ns.dim
          a.link.black-40(href='https://www.instagram.com/philipyoungg') Instagram
        li.dib.mr2.mr3-ns.dim
          a.link.black-40(href='https://www.behance.net/philipyoungg') Behance
        li.dib.mr2.mr3-ns.dim
          a.link.black-40(href='https://www.dribbble.com/philipyoungg') Dribbble
        li.dib.mr2.mr3-ns.dim
          a.link.black-40(href='https://www.github.com/philipyoungg') Github
script(src='/tracker.js')
script.
  externalLinkToNewTab();
//- script(src="//load.sumome.com/" data-sumo-site-id="55162b7725bdda04eb81ba851beb247985b2a15bc5110db679987d8e45c3ff1e" async="async")
