.mb4
    p
    span.main-highlight Philip Young
    |  is a product designer from Jakarta, Indonesia.

    p He grew to love design while attending brand lecture on Prasetiya Mulya School of Business and Economics. Ever since then, he religiously practice his design skill and published them on 
        a(href='https://www.behance.net/philipyoungg') Behance
        |.

    p He was reached and trusted to work on client projects such as 
        a(href='https://www.behance.net/gallery/17555133/Sanmart') Sanmart Brand Identity
        |  in Purwokerto, designing 
        a(href='https://www.behance.net/gallery/17551609/House-of-Prasetiya-Mulya') olympics identity and sport mascot
        |  at Prasetiya Mulya, and now busy doing research, formulating brand identity, and designing 
        a(href='https://bukapintu.co') Bukapintu.co's
        |  overall product.

    p To pursue mastering his craft, Philip starts to learn web development on 2016. He's comfortable with React, Redux, RXJS Observable Pattern, Node.js, SASS, and PostgreSQL. Small—side projects could be seen on 
        a(href='http://github.com/philipyoungg/') Github
        |.
    p Current side project: 
        a(href='http://color.philipyoungg.com') color picker
        |, 
        a(href='https://github.com/philipyoungg/slide-transform') slide library
        |, and 
        a(href='https://www.npmjs.com/package/@philipyoungg/calendar')  calendar generator
        |.

    p If you've read this far, let's be friends! Say hi on 
        a(href='https://www.twitter.com/philipyoungg') Twitter
        |, 
        a(href='https://www.instagram.com/philipyoungg') Instagram
        |,  or personally from  
        a(href='mailto:hello@philipyoungg.com?Subject=Hello!') hello@philipyoungg.com
        |.
    hr