.cf.center.ph3.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.ph3.mb3.mb4-m.mb0-ns.h1.dn.db-ns
  .fl.w-100.w-100-m.w-75-ns.wow.fadeInUp
    h1.f2.f-subheadline-ns.poppins.tracked-tight.mb4.mb5-ns.lh-title.ph3 Available for front-end projects
.cf.center.ph3.ph5-ns.grid.mb4.mb5-ns.wow.fadeInUp
  .fl.w-100.w-100-m.w-25-ns.ph3.pt0.pt4-ns
    .cf.f6.w-100.o-60.disclaimer.b
      .fl.w-50.w-50-m.w-100-ns
        p.mb4 Hourly rate starts from $120
        p.mb2 Design
            ul
              li UX/UI Design
              li Brand Identity
        p.mb2 Web/Webapp Development
            ul
              li React/Redux webapp
              li Wordpress
              li Landing page
              li CSS/SCSS management
      .fl.w-50.w-50-m.w-100-ns
        p.mb2 iOS/Android Development
            ul
              li SwiftUI
              li React Native
        p.mb2 Backend
            ul
              li mySQL/PostgreSQL
              li Firebase
              li Node
  .fl.w-100.w-two-thirds-m.w-50-ns
    form.inquiry(method='POST' action='https://formspree.io/hello@philipyoungg.com')
      .cf
        .fl.w-100.w-50-ns.ph0.ph3.pv2.pv3-ns
          input(type='hidden', name='_next', value='http://www.philipyoungg.com/thanks')
          input(type='hidden', name='_subject', value='Project Inquiry!')
          input(type='text', name='_gotcha', style='display:none')
          label.f5.db.mb2(for='') Your Name
          input.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.bw1.b--black-20(name='name', placeholder='Name', type='text')
        .fl.w-100.w-50-ns.ph0.ph3.pv2.pv3-ns
          label.f5.db.mb2(for='') Email
          input.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.bw1.b--black-20(name='_replyto', type='email', placeholder='Email')
        .fl.w-100.w-50-ns.ph0.ph3.pv2.pv3-ns
          label.f5.db.mb2(for='') Entity
          input.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.bw1.b--black-20(name='entity', placeholder='Personal / Entity Name', type='text')
        .fl.w-100.w-50-ns.ph0.ph3.pv2.pv3-ns
          label.f5.db.mb2(for='') Time frame
          div.relative(style='height: 54px')
            select.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.b--black-20.bw1.absolute.b.black-70(name='time frame')
              option(value='2 week') 2 weeks
              option(value='1 month' ) 1 month
              option(value='2 - 3 month' selected='selected') 2 - 3 months
              option(value='> 3 month') > 3 months
              option(value='undecided') undecided
            i.fa.fa-caret-down.absolute.right-1.top-1.black-60
        .fl.w-100.ph0.ph3.pv2.pv3-ns
          label.f5.db.mb2(for='') Project brief
          textarea.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.b--black-20.bw1.lh-copy(name='description' type='description', placeholder='Tell me about who yourself, project objective, when do you need it, and if you are familiar with domain, hosting, etc.' rows='8')
      small.db.f6.mb4.tc I will get back to you in less than 2 working days
      .tc
        button.f6.f5-ns.pv3.ph4.br1.b--black-20.b--solid.bg-black-60.hover-bg-black-70.bg-animate.b.ttu.tracked-mega.black-70.pointer.white.poppins
          | Submit
          i.fa.fa-caret-right.ml1.b
