.cf.center.ph2.ph3-m.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.ph2.ph3-ns.mb3.mb4-m.mb0-ns
    f5.b.mb1 Navigation
    != partial('_shared/nav')
  .fl.w-100.w-100-m.w-75-ns.wow.fadeInUp
    h1.f3.f1-m.f-subheadline-ns.poppins.tracked-tight.mb3.ph2.ph3-ns Let&rsquo;s work together. Available for short and long term project.
.cf.center.ph2.ph3-m.ph5-ns.grid.mb4.mb4-ns.wow.fadeInUp
  .fl.w-100.w-100-m.w-25-ns.ph2.ph3-ns.pt0.pt4-ns
    .w-75
      p.o-70.f6.disclaimer Design and development is a two big—separate process. 
      p.o-70.f6.disclaimer Finding two different people for the job waste your time and energy (not to mention communication issues that will happen between three of you).
      p.o-70.f6.disclaimer Working with me solve those problems.
  .fl.w-100.w-two-thirds-m.w-50-ns
    form.inquiry(method='POST' action='https://formspree.io/hello@philipyoungg.com')
      .cf
        .fl.w-100.w-50-ns.ph0.ph2.ph3-ns.pv2.pv3-ns
          input(type='hidden', name='_next', value='http://www.philipyoungg.com/thanks')
          input(type='hidden', name='_subject', value='Project Inquiry!')
          input(type='text', name='_gotcha', style='display:none')
          label.f5.db.mb2(for='') Your Name
          input.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.bw1.b--black-20(name='name', placeholder='Name', type='text')
        .fl.w-100.w-50-ns.ph0.ph2.ph3-ns.pv2.pv3-ns
          label.f5.db.mb2(for='') Email
          input.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.bw1.b--black-20(name='_replyto', type='email', placeholder='Email')
        .fl.w-100.w-50-ns.ph0.ph2.ph3-ns.pv2.pv3-ns
          label.f5.db.mb2(for='') Entity
          input.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.bw1.b--black-20(name='entity', placeholder='Personal / Entity Name', type='text')
        .fl.w-100.w-50-ns.ph0.ph2.ph3-ns.pv2.pv3-ns
          label.f5.db.mb2(for='') Budget
          div.relative(style='height: 54px')
            select.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.b--black-20.bw1.absolute.b.black-70(name='budget')
              option(value='$1,200 - $2,500') $1,200 - $2,500
              option(value='$2,500 - $5,000' selected='selected') $2,500 - $5,000
              option(value='$5,000 - $7,500') $5,000 - $7,500
              option(value='$7,500 - $10,000') $7,500 - $10,000
              option(value='over $10,000') over $10,000
            i.fa.fa-caret-down.absolute.right-1.top-1.black-60
        .fl.w-100.ph0.ph2.ph3-ns.pv2.pv3-ns
          label.f5.db.mb2(for='') Project brief
          textarea.input-reset.f6.f5-ns.sans-serif.w-100.br1.pa-input.bg-white.b--black-20.bw1.lh-copy(name='description' type='description', placeholder='Tell me about who yourself, project objective, when do you need it, and if you are familiar with domain, hosting, etc.' rows='8')
      small.db.f6.mb4.tc I will get back to you in less than 2 working days
      .tc
        button.f6.f5-ns.pv3.ph4.br1.b--black-20.b--solid.bg-black-60.hover-bg-black-70.bg-animate.b.ttu.tracked-mega.black-70.pointer.white.poppins
          | Submit 
          i.fa.fa-caret-right.ml1.b
