html {
  font-family: Inconsolata, monospace;
  font-size: 14px;
}

body {}

.bg-mint {
  background: hsl(200, 7%, 97%);
}
// questionable
h1 {
  font-family: Poppins, Avenir Next, -apple-system, MacBlinkSystemFont, sans-serif;
  font-weight: 600;
  line-height: 1.1;
}
@media screen and (max-width: 30em) {
  h1 {
    line-height: 1.3;
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.poppins {
  font-family: Poppins, Avenir Next, -apple-system, MacBlinkSystemFont, sans-serif;
}

.softBlue {
  color: hsl(207, 20%, 20%);
}

.blue-bg {
  background: hsl(207, 60%, 60%);
}

.blue-link {
  color: hsl(207, 60%, 60%);
}

a {
  color: hsl(207, 60%, 60%);

  &:hover {
    opacity: .6;
    transition: .3s ease-in-out;
  }
}

a.block {
  &:hover {
    opacity: 1;
  }
}

ul {
  margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: hsl(207, 20%, 20%);
}

#info {
  padding-top: 2rem;
}

.side {
  position: absolute;
  font-size: 9rem;
  font-family: Poppins;
  font-weight: 700;
  transform: rotate(-90deg);
  white-space: nowrap;
  opacity: .1;
  letter-spacing: -0.05em;
  color: hsl(201, 90%, 35%);
  top: 50rem;
  left: 20rem;
}

.grid {
  max-width: 90rem;
}

.tag {
  padding: .2rem .35rem;
  line-height: 1;
}

.pa-input {
  padding: 1rem 1.5rem;
}

article {
  font-size: 17px;

  ol,
  ul {
    padding: 1.5em 0 1.5em 2em;

    li {
      margin-bottom: .25em;
    }
  }

  p {
    margin-bottom: 1.5em;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 5em 0;
    max-width: 25em;
  }

  p + img {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
    margin-top: 2em;
  }

  h6 {
    opacity: .6;
  }
}

#instafeed {
  column-count: 3;
  column-gap: 0;

  & a {
    background-color: transparent;
    display: inline-block;
    margin: 0;
    width: 100%;
    line-height: 1;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 90em) {
  html {
    font-size: 16px;
  }

  article {
    font-size: 21px;
  }
}
@media screen and (max-width: 30em) {
  article hr {
    margin: 3em 0;
  }

  .pa-input {
    padding: 1.25em .75em;
  }

  article {
    font-size: 14px;

    & h3 {
      font-size: 1em;
      margin-top: 2em;
    }
  }

  #instafeed {
    column-count: 2;

    & a {
      padding-left: .5rem;
      margin-bottom: .5rem;
      display: block;

      & img {
        display: block;
      }
    }
  }
}

.vs-scrolldrag {
  position: fixed;
  top: 2px;
  right: 2px;
  background: rgba(0,0,0,0.2);
  width: 8px;
  border-radius: 6px;
}

/* h1 span {
  will-change: opacity;
} */
/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, .5rem, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  will-change: transform, opacity;
  animation-duration: .6s;
}

.wow {
  visibility: hidden;
} */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ccc;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0);
  }

  50% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#home .thoughts:nth-child(n+4) {
  display: none;
}

.dim {
  transition: opacity .15s ease-in;

  &:hover {
    opacity: .5 !important;
  }
}
