html {
  font-size: 14px;
  font-family: Inconsolata;
}

* {
  box-sizing: border-box;
}

body {
  background: hsl(200, 7%, 97%);
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  margin-bottom: 1rem;
}

h1 {
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.1;
}

.poppins {
  font-family: Poppins;
}

.softBlue {
  color: hsl(207, 20%, 20%);
}

a {
  color: hsl(207, 50%, 60%);
}

h1, h2, h3, h4, h5, h6, p {
  color: hsl(207, 20%, 20%);
}

h3 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

li {
  font-weight: normal;
}

.col, p, h2 {
  color: hsl(207, 20%, 20%);
}

#info {
  padding-top: 2rem;
}

.separator {
  width: 100%;
  /* border-top: 1px solid #ddd; */
  padding-bottom: 4rem;
}

.side {
  position: absolute;
  font-size: 9rem;
  font-family: Poppins;
  font-weight: 700;
  transform: rotate(-90deg);
  white-space: nowrap;
  opacity: 0.1;
  letter-spacing: -0.05em;
  color: hsl(201, 90%, 35%);
  top: 50rem;
  left: 20rem;
}

.col-3 p {
  font-size: 17px;
  line-height: 1.5;
  max-width: 30em;
  margin-top: 0;
}


/* h2 {
  font-family: Poppins, BlinkMacSystemFont;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.1;
  width: 100%;
  letter-spacing: -0.025em;
} */

.w80 {
  max-width: 80rem;
}

img {
  width: 100%;
  height: auto;
}

.col {
  width: 25%;
  padding-right: 1.5rem;
  line-height: 1.5;
}

.col-3 {
  width: 75%;
  padding-right: 1.5rem;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  #info {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .col, .col-3 {
    width: 100%;
    margin-bottom: 1rem;
  }
  .col-3 p {
    font-size: 1rem;
  }
}

.col:first-child {
  font-weight: bold;
}
