.mt5.mb7
  h1.mw7.center.f2.f1-ns.mb2.tc.lh-solid.lh-title-ns.apple-system Thank you!
  p.f6.f5-ns.tc.lh-copy.measure.center.inconsolata.mb5.normal I have received your inquiries! Will get back to you in less than 2 working days
    .tc
      a.link.f6.f5-ns.pv3.ph4.br1.b--black-30.b--solid.bg-black-60.hover-bg-black-70.bg-animate.b.ttu.tracked-mega.black-70.pointer.white.apple-system(href='/')
        | Go Back Home 
