.cf.center.ph2.ph3-m.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.ph2.ph3-ns.mb3.mb4-m.mb0-ns
    f5.b.mb1 Navigation
    != partial('../_shared/nav')
  .fl.w-100.w-100-m.w-75-ns.ph2.ph3-ns.wow.fadeInUp
    h1.f3.f1-m.f-subheadline-ns.poppins.tracked-tight.mb3.mb4-ns Books I&rsquo;ve Read
.cf.center.ph2.ph3-m.ph5-ns.grid.mb5.mb5-ns.wow.fadeInUp
  .fl.w-100-m.w-25-ns.ph2.ph3-ns
    .w-75
      p.o-70.f6.disclaimer Currenly unfinished. TODO: add must read, filter, and category.
  .fl.w-100-m.w-75-ns.flex.flex-wrap.items-baseline
    - var books = public.books._data.books.sort(function(a, b){
    -   if (a.category === b.category) {
    -     return 0
    -   }
    -   return a.category > b.category ? 1 : -1
    - })
    each book in books
      .w-50.w-third-m.w-25-ns.mb3.ph2.ph3-ns.book
        img.mb3(src=book.cover)
        h3.f5.mb1.lh-title #{book.title} 
          if (book.mustRead)
            span.f6.tag.br1.ba.blue-link.nowrap Favorite
        p.mb0.f6.o-80 #{book.author}
        p.mb0.f6.o-50 #{book.category}
  
