- function excerpt(content) {
-  return content.substring(0, 160) + '...'
-  }

.mb3.mb5-ns
    h2.f2.f1-ns.ma0.lh-title.apple-system Thoughts
each post, slug in public.thoughts._data
    .pv3.pv4-ns.inconsolata
        h6.f6.f5-ns.ma0.pb2.mb1.mb3.w5.b--black-10.bb.black-50.b= post.date
        h2.f4.f3-m.f2-ns.mt2.lh-title.measure-narrow.apple-system.measure-narrow
          a.link.black-80(href='/thoughts/#{ slug }')= post.title
        != excerpt(partial('../thoughts/' + slug))
        p.mb0.inconsolata
          a(href='/thoughts/#{ slug }') Read more &rarr;