.center.mw8.ph3.ph4-m.ph5-ns.apple-system(style="max-width: 50rem")
  .bt.b--black-10.dt.w-100.pv3
    ul.dtc.list.ma0.f7.f6-m.f5-ns.pl0.tl.tc-ns
      li.dib.mr2.mr3-ns 🌎
      li.dib.mr2.mr3-ns.dim
        a.link.black-40(href='mailto:hello@philipyoungg.com') Email
      li.dib.mr2.mr3-ns.dim
        a.link.black-40(href='https://www.twitter.com/philipyoungg') Twitter
      li.dib.mr2.mr3-ns.dim
        a.link.black-40(href='https://www.instagram.com/philipyoungg') Instagram
      li.dib.mr2.mr3-ns.dim
        a.link.black-40(href='https://www.behance.net/philipyoungg') Behance
      li.dib.mr2.mr3-ns.dim
        a.link.black-40(href='https://www.github.com/philipyoungg') Github