.dn.dn-m.db-ns.mb5
  .cf.center.ph4.ph5-ns.grid
    .w-100-m.w-25-ns.fl
      h3.b.mb1 Address
      ul.list.pl0
        li
          | Kelapa Gading, Jakarta
          br
          |  Indonesia
          br
          |  14240
    .w-100-m.w-25-ns.fl
      h3.b.mb1 Contact
      ul.list.pl0
        li phone: +62-811-9620-100
        li email: hello@philipyoungg.com
        li
    .w-100-m.w-25-ns.fl
    .w-100-m.w-25-ns.fr
      h3.b.mb1 Social
      ul.list.pl0
        li twitter: &nbsp; 
          a(href="https://www.twitter.com/philipyoungg") @philipyoungg
        li instagram: &nbsp;
          a(href="https://www.instagram.com/philipyoungg") philipyoungg
        li dribbble: &nbsp;&nbsp;
          a(href="https://www.dribbble.com/philipyoungg") philipyoungg
        li
