.header.dn.dn-m.db-ns.mb5
  .cf.center.ph2.ph3-m.ph5-ns.grid
    .w-100-m.w-25-ns.fl.ph2.ph3-ns
      h3.f5.b.mb1 Contact
      ul.list.pl0
        li phone: +62-811-9620-100
        li email: hello@philipyoungg.com
        li
    .w-100-m.w-25-ns.fl.ph2.ph3-ns.h1
    .w-100-m.w-25-ns.fl.ph2.ph3-ns
      h3.f5.b.mb1 Social
      ul.list.pl0
        li twitter: &nbsp; 
          a(href="https://www.twitter.com/philipyoungg") @philipyoungg
        li instagram: &nbsp;
          a(href="https://www.instagram.com/philipyoungg") philipyoungg
    .w-100-m.w-25-ns.fl.ph2.ph3-ns
      h3.f5.b.mb1 Work
      ul.list.pl0
        li github: &nbsp; 
          a(href="https://www.github.com/philipyoungg") philipyoungg
        li behance: &nbsp;&nbsp;
          a(href="https://www.behance.net/philipyoungg") philipyoungg
        li dribbble: &nbsp;
          a(href="https://www.dribbble.com/philipyoungg") philipyoungg
