.cf.center.ph2.ph3-m.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.h1.dn.db-ns
  .fl.w-100.w-100-m.w-75-ns.ph2.ph3-ns.wow.fadeInUp
    h2.f3.f2-ns.fw6.tracked-tight.poppins Instagram
.cf.center.ph2.ph3-m.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.h1.dn.db-ns
  .fl.w-100.w-100-m.w-75-ns.wow.fadeInUp
    #instafeed
  
