.cf.center.ph3.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.h1.dn.db-ns
  .fl.w-100.w-100-m.w-75-ns.ph3.wow.fadeInUp
    h1.f2.f-subheadline-ns.poppins.tracked-tight.mb3.mb5-ns.lh-title Instagram.
.cf.center.ph3.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.h1.dn.db-ns
  .fl.w-100.w-100-m.w-75-ns.wow.fadeInUp
    #instafeed
script.
  var feed = new Instafeed({
    get: 'user',
    userId: 3659828,
    accessToken: '3659828.6974e58.098b38ceb09c49f59df610eec9db535d',
    resolution: 'standard_resolution',
  }).run()
