.cf.center.ph2.ph3-m.ph5-ns.grid
  .fl.w-100.w-100-m.w-25-ns.ph2.ph3-ns.mb3.mb4-m.mb0-ns
    h3.f5.b.mb1 Navigation
    != partial('../_shared/nav')
  .fl.w-100.w-100-m.w-75-ns.ph2.ph3-ns.wow.fadeInUp
      h1.f3.f1-m.f-subheadline-ns.poppins.tracked-tight.mb4.mb5-ns Thoughts
!=partial('../_shared/blog-excerpt')
